<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Input</th>
          <th>Pipe</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>Uppercase</td>
          <td>{{name | uppercase}}</td>
        </tr>
        <tr>
          <td>{{name}}</td>
          <td>Lowercase</td>
          <td>{{name | lowercase}}</td>
        </tr>
        <tr>
          <td>{{name}}</td>
          <td>Slice (start = 3)</td>
          <td>{{name | slice:3}}</td>
        </tr>
        <tr>
          <td>{{name}}</td>
          <td>Slice (start = 0 & end = 3)</td>
          <td>{{name | slice:0:3}}</td>
        </tr>
        <tr>
          <td>{{numberArray}}</td>
          <td>Slice (start = 1 & end = 5)</td>
          <td>{{numberArray | slice:1:5}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>Number</td>
          <td>{{PI | number}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>Number (#digits = 3 & #decimals = 0)</td>
          <td>{{PI | number: "3.0-0"}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>Number (#digits = all & #decimals = 2)</td>
          <td>{{PI | number: ".0-2"}}</td>
        </tr>
        <tr>
          <td>{{percentage}}</td>
          <td>Percent</td>
          <td>{{percentage | percent}}</td>
        </tr>
        <tr>
          <td>{{percentage}}</td>
          <td>Percent (#digits = 2 & #decimals = 2)</td>
          <td>{{percentage | percent:"2.2-2"}}</td>
        </tr>
        <tr>
          <td>{{salary}}</td>
          <td>Currency</td>
          <td>{{salary | currency}}</td>
        </tr>
        <tr>
          <td>{{salary}}</td>
          <td>Currency (ISO Code = EUR)</td>
          <td>{{salary | currency:"EUR"}}</td>
        </tr>
        <tr>
          <td>{{promise}}</td>
          <td>Async</td>
          <td>{{promise | async}}</td>
        </tr>
        <tr>
          <td>{{date}}</td>
          <td>Date</td>
          <td>{{date | date}}</td>
        </tr>
        <tr>
          <td>{{date}}</td>
          <td>Date (medium)</td>
          <td>{{date | date:"medium"}}</td>
        </tr>
        <tr>
          <td>{{date}}</td>
          <td>Date (short)</td>
          <td>{{date | date:"short"}}</td>
        </tr>
        <tr>
          <td>{{date}}</td>
          <td>Date (MMMM- dd)</td>
          <td>{{date | date:"MMMM- dd"}}</td>
        </tr>
        <tr>
          <td>{{date}}</td>
          <td>Date (MMMM- dd) (en)</td>
          <td>{{date | date:"MMMM- dd":"":"en"}}</td>
        </tr>
        <tr>
          <td>{{date}}</td>
          <td>Date (MMMM- dd) (fr)</td>
          <td>{{date | date:"MMMM- dd":"":"fr"}}</td>
        </tr>
      </tbody>
    </table>
    <h4>Slice <small>(start = 5 & end = 20)</small></h4>
    <ul>
      <li *ngFor="let item of numberArray | slice:5:20">{{item}}</li>
    </ul>
    <h3>JSON</h3>
    <hr>
    <div class="row">
      <div class="col">
        {{hero}}
      </div>
    </div>
  <div class="row mb-5">
      <div class="col">
        {{hero | json}}
      </div>
    </div>
  </div>
</div>
